.header-container {
  width: 87%;
  max-width: 1187px;
  margin: 0px auto;
  padding: 20px 0px 15px;
  display: flex;
  gap: 172px;
  align-items: center;
}

.header-wrapper {
  display: flex;
  gap: 108px;
  align-items: center;
}

.header-logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header-logo div {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.header-logo div h2 {
  color: #781717;
  font-family: "Inter", sans-serif;
  font-size: 16.85px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.header-logo div p {
  color: #781717;
  font-family: "Inter", sans-serif;
  font-size: 16.85px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-navlinks {
  display: flex;
  gap: 28px;
}

.header-navlinks a {
  color: #000;
  text-align: center;
  font-family: "Arimo", sans-serif;
  text-decoration: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.header-navlinks a:hover {
  color: #781717;
}

.header-search {
  width: 37%;
  border-radius: 8px;
  border: 1px solid #000;
  display: flex;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
}

.header-search input {
  width: 95%;
  border: none;
  color: var(--Grey-3, #828282);
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
